*{
    margin: 0;
}
@font-face {
    font-family: DollarBill;
    src: url("DollarBill.ttf");
}
body::-webkit-scrollbar {
    display: none;
  }
#top {
    width: 100vw;
}
#free{
    width: 100vw;
}
#bot{
    width: 100vw;
}
#art{
    width: 100%;
}
#shirt{
    width: 100%;
}
.abottom{
    width: 49%;
}

#button1 {

	float: left;
	width: 46.5%;
	padding: 1.5vw;
}
#button2 {

	padding: 1.5vw;
	float: right;
	width: 46.5%;

}